;; shadow-cljs configuration
{
 :source-paths
 ["src/dev"
  "src/cljs"
  "src/js"]

 :dependencies
 [[cider/cider-nrepl "0.28.6"]
  [org.slf4j/slf4j-nop "1.7.36"]
  [re-frame "1.4.0"]
  [reagent "1.1.1"]
  [refactor-nrepl "3.5.5"]]

 :dev-http
 {8020 "public"}

 :builds
 {:app
  {:target     :browser
   :output-dir "public/js"
   :asset-path "/js"
   :modules
   {:main ; becomes public/js/main.js
    {:init-fn core/init}}}}}
