.light-blue {
    color: #6093DB;
}

.dark-blue {
    color: #261C6B;
}

.purple {
    color: #36183E;
}

.rose {
    color: #D0376C;
}

.light-violet {
    color: #E3C2E5;
}

.violet {
    color: #431E70;
}
