.welcome-page__selects-container {
    display: flex;
    justify-content: space-between;
    column-gap: 20px;
    min-width: 600px;
    padding: 10px;
}

.welcome-page__map-container {
    display: flex;
    justify-content: center;
    padding: 10px;
}
